<div id="header">
    <header class="homesite_header">
        <h2 id="menu-button" class="menu">☰</h2>
        <div class="void"></div>
        <a href="/"><img src="/images/logo_1.png" alt="logo" class="logo_white"></a>
        {{#if user}}
        <div><a class="login" href="/profile"><h5>{{user.username}}</h5></a></div>
        {{else}}
        <div><a class="login" href="/login"><h5>LOGIN</h5></a></div>
        {{/if}}
        <div class="cart"><a href="cart.html"><img src="/images/cart.png" alt="cart"></a></div>
    </header>
    <nav class="menu_aside">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/classic">CLASSIC</a></li>
            <li><a href="/premium">PREMIUM</a></li>
        </ul>
    </nav>
</div>