<section>

<div id="login">
    <h3>LOGIN</h3>
    <div id="auth-form">
        <form method="POST" action="/login" novalidate>
            <div class="form-email-login"><input type="text" name="email" value="" placeholder="EMAIL ADDRESS" /></div>
            <div class="form-passwort-login"><input type="password" name="password" value="" placeholder="PASSWORD" /></div>

            <div class="signin-form-button">
                <button type="submit">SIGN IN</button>
            </div>

            <div class="signup">
                <p>No account yet? <a href="/signup">SIGNUP</a></p>
                
            </div>
        </form>
    </div>
</div>

</section>