<section>

    <div id="login">
        <h3>SIGNUP</h3>
        <div id="auth-form">
            <form method="POST" action="/signup" novalidate>
                <div class="form-username-signup"><input type="text" name="username" value="" placeholder="USERNAME" /></div>
                <div class="form-email-signup"><input type="text" name="email" value="" placeholder="EMAIL ADDRESS"/></div>
                <div class="form-password-signup"><input type="password" name="password" value="" placeholder="PASSWORD"/></div>
    
                <div class="signin-form-button">
                    <button type="submit">SIGN UP</button>
                </div>
    
                <div class="signup">
                    <p>You already have an account? <a href="/login">SIGN IN</a></p>
                    
                </div>
            </form>
        </div>
    </div>
    
</section>
