<section>

    <div id="collection">
        <h3>NOCA CLASSIC</h3>
        <div id="columns"> 
            <a href="/product/classic_hoodie">
            <div class="column">
                <img src="images/clothing/hoodie_c.png" alt="placeholder">
                <h4>HOODIE</h4>
                <p>CHF 49.00</p>
            </div>
            </a>

            <a href="/product/classic_ziphoodie">
            <div class="column">
                <img src="images/clothing/ziphoodie_c.png" alt="placeholder">
                <h4>ZIP HOODIE</h4>
                <p>CHF 59.00</p>
            </div>
            </a>
            
            <a href="/product/classic_sweatpants">
            <div class="column">
                <img src="images/clothing/sweatpants_c.png" alt="placeholder">
                <h4>SWEATPANTS</h4>
                <p>CHF 45.00</p>
            </div>
            </a>

            <a href="/product/classic_tshirt">
            <div class="column">
                <img src="images/clothing/tshirt_c.png" alt="placeholder">
                <h4>T-SHIRT</h4>
                <p>CHF 19.00</p>
            </div>
            </a>

        </div>
    </div>
    

</section>