<section>

    <div id="collection">
        <h3>NOCA PREMIUM</h3>
        <div id="columns"> 
            <a href="/product/premium_hoodie">
            <div class="column">
                <img src="images/clothing/hoodie_p.png" alt="placeholder">
                <h4>HOODIE</h4>
                <p>CHF 59.00</p>
            </div>
            </a>

            <a href="/product/premium_ziphoodie">
            <div class="column">
                <img src="images/clothing/ziphoodie_p.png" alt="placeholder">
                <h4>ZIP HOODIE</h4>
                <p>CHF 69.00</p>
            </div>
            </a>

            <a href="/product/premium_sweatpants">
            <div class="column">
                <img src="images/clothing/sweatpants_p.png" alt="placeholder">
                <h4>SWEATPANTS</h4>
                <p>CHF 55.00</p>
            </div>
            </a>

            <a href="/product/premium_tshirt">
            <div class="column">
                <img src="images/clothing/tshirt_p.png" alt="placeholder">
                <h4>T-SHIRT</h4>
                <p>CHF 29.00</p>
            </div>
            </a>
        </div>
    </div>

</section>